In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns
import matplotlib.pyplot as plt
from wordcloud import WordCloud, STOPWORDS
from collections import Counter
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

/Users/hasanenesguray/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
df1=pd.read_csv('events1.csv')
df1.head()

,user_id,ga_session_id,country,device,type,item_id,date
0,2133,16909,US,mobile,purchase,94,2020-11-01 00:27:14
1,2133,16909,US,mobile,purchase,425,2020-11-01 00:27:14
2,5789,16908,SE,desktop,purchase,1,2020-11-01 01:44:44
3,5789,16908,SE,desktop,purchase,62,2020-11-01 01:44:44
4,5808,4267,US,mobile,add_to_cart,842,2020-11-01 03:06:29

In [3]:
df2=pd.read_csv('items.csv')
df2.head()

,id,name,brand,variant,category,price_in_usd
0,0,Google Land & Sea Cotton Cap,Google,Single Option Only,Apparel,14
1,1,Google KeepCup,Google,Single Option Only,New,28
2,2,Google Land & Sea Nalgene Water Bottle,Google,Single Option Only,Drinkware,20
3,3,Google Unisex Eco Tee Black,Google,LG,Uncategorized Items,22
4,4,Google Chicago Campus Bottle,Google,Single Option Only,Campus Collection,11

In [4]:
df3=pd.read_csv('users.csv')
df3.head()

   id  ltv                 date
0   0    0  2020-10-13 05:08:47
1   1    0  2020-11-24 14:26:54
2   2    0  2020-11-24 06:19:54
3   3  231  2020-05-02 11:09:15
4   4  102  2020-11-18 15:54:38

In [5]:
print(df1.columns)
print(df2.columns)
print(df3.columns)

Index(['user_id', 'ga_session_id', 'country', 'device', 'type', 'item_id',
       'date'],
      dtype='object')
Index(['id', 'name', 'brand', 'variant', 'category', 'price_in_usd'], dtype='object')
Index(['id', 'ltv', 'date'], dtype='object')

In [6]:
# Rename 'item_id' in df1 to 'id' for merging with df2
df1.rename(columns={'item_id': 'id'}, inplace=True)

# Merge df1 and df2 on the 'id' column
merged_df = pd.merge(df1, df2, on='id', how='inner')

# Merge the result with df3 on 'user_id' from df1 and 'id' from df3
final_merged_df = pd.merge(merged_df, df3, left_on='user_id', right_on='id', how='inner')

# Display the first few rows of the final merged DataFrame
print(final_merged_df.head())

   user_id  ga_session_id country   device         type  id_x  \
0     2133          16909      US   mobile     purchase    94
1     2133          16909      US   mobile     purchase   425
2     5789          16908      SE  desktop     purchase     1
3     5789          16908      SE  desktop     purchase    62
4     5808           4267      US   mobile  add_to_cart   842

                date_x                               name   brand  \
0  2020-11-01 00:27:14            Google Large Tote White  Google
1  2020-11-01 00:27:14  Google Heather Green Speckled Tee  Google
2  2020-11-01 01:44:44                     Google KeepCup  Google
3  2020-11-01 01:44:44              Google Mini Kick Ball  Google
4  2020-11-01 03:06:29     Google Infant Hero Onesie Grey  Google

              variant category  price_in_usd  id_y  ltv               date_y
0  Single Option Only     Bags            10  2133   34  2020-11-01 00:09:55
1                  XL  Apparel            21  2133   34  2020-11-01 00:09:55
2  Single Option Only      New            28  5789   72  2020-10-14 00:26:03
3  Single Option Only      Fun             2  5789   72  2020-10-14 00:26:03
4                 NaN  Apparel            25  5808    0  2020-08-18 03:44:52